

<div class="header">

    <input type="text" placeholder="Filtrar por Nome" [formControl]="filterInputFc" />

    <button class="share" (click)="share.emit()"> Share </button>

    <div class="spacer"></div>

    <div class="filter-wrapper">
        <button (click)="toggleFilter()" class="filtros"> Filtros </button>
        <div class="filter-dropdown" [ngClass]="{ visible: showFilter }">
            <ng-container #filterOutlet></ng-container>
        </div>
    </div>
    

</div>

<table 
    uiDataTable 
    [columnTemplates]="columns?.toArray()"
    [loadingTemplate]="loadingTemplate"
    [rowTemplate]="rowTemplate"
    [stateManager]="stateManager"
>
</table>


