
button.current  {
    font-weight: bold;
}

table {
    margin: 0px;
    width: calc(100% - 30px);
    margin: 15px;
    background-color: beige;
    border-spacing: 0px;

    th {
        padding: 15px;
    }

    .order-control {
        cursor: pointer;
    }

    tbody tr {
        &:hover {
            background-color: lightyellow;
        }
    }
}

