<table class="block">
  <thead>
    <tr>
      <th *ngIf="isColumnVisible('nome')">
        Nome 
        <span (click)="changeOrder('nome')"> 
          <i class="sort-control bi bi-chevron-expand" [ngClass]="{
            'bi-chevron-expand': state.orderBy !== 'nome',
            'bi-chevron-up': state.orderBy == 'nome' && state.orderDirection == 'ASC',
            'bi-chevron-down': state.orderBy == 'nome' && state.orderDirection == 'DESC'
        }"></i>
        </span>
      </th>
      <th *ngIf="isColumnVisible('idade')">
        Idade 
        <span (click)="changeOrder('idade')"> 
          <i class="sort-control bi bi-chevron-expand" [ngClass]="{
            'bi-chevron-expand': state.orderBy !== 'idade',
            'bi-chevron-up': state.orderBy == 'idade' && state.orderDirection == 'ASC',
            'bi-chevron-down': state.orderBy == 'idade' && state.orderDirection == 'DESC'
        }"></i>
        </span>
      </th>
      <th *ngIf="isColumnVisible('cpf')">
        CPF 
        <span (click)="changeOrder('cpf')"> 
          <i class="sort-control bi bi-chevron-expand" [ngClass]="{
            'bi-chevron-expand': state.orderBy !== 'cpf',
            'bi-chevron-up': state.orderBy == 'cpf' && state.orderDirection == 'ASC',
            'bi-chevron-down': state.orderBy == 'cpf' && state.orderDirection == 'DESC'
        }"></i>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of state.data; let odd = odd;" [ngClass]="{
      dark: odd
    }">
      <td *ngIf="isColumnVisible('nome')"> {{ item.nome }} </td>
      <td *ngIf="isColumnVisible('idade')"> {{ item.idade }} </td>
      <td *ngIf="isColumnVisible('cpf')"> {{ item.cpf }} </td>
    </tr>
  </tbody>
</table>
  
<div class="footer">

  <div> Mostrando {{ state.data.length }} de {{ state.totalItems }} </div>

  <div>
    Page size: 
    <button (click)="changePageSize(5)" [ngClass]="{ bold: state.pageSize === 5 }"> 5 </button>
    <button (click)="changePageSize(10)" [ngClass]="{ bold: state.pageSize === 10 }"> 10 </button>
  </div>

  <div>
    Current Page: 
    <button (click)="changeCurrentPage(1)" [ngClass]="{ bold: state.currentPage === 1 }"> 1 </button>
    <button (click)="changeCurrentPage(2)" [ngClass]="{ bold: state.currentPage === 2 }"> 2 </button>
    <button (click)="changeCurrentPage(3)" [ngClass]="{ bold: state.currentPage === 3 }"> 3 </button>
    <button (click)="changeCurrentPage(4)" [ngClass]="{ bold: state.currentPage === 4 }"> 4 </button>
  </div>

  <div>
    <div *ngFor="let column of state.columns" class="visible-column">
      <div> {{ column.id }} - <button (click)="updateColumnVisibily(column.id, !column.visible)"> {{ column.visible ? 'Hide' : 'Show' }} </button> </div>
    </div>
  </div>
  
  <pre>
    {{ state | json }}
  </pre>
  
</div>
