

<table uiDataTable [stateManager]="tableState">

    <ng-container uiTableColumn="nome">
        <th *uiTableHeaderCell> Nome </th>
        <td class="nome" *uiTableCell="let item;"> {{ item.nome }} </td>
    </ng-container>

    <ng-container uiTableColumn="idade">
        <th *uiTableHeaderCell> Idade </th>
        <td class="idade" *uiTableCell="let item;"> 
            {{ item?.idade }}
        </td>
    </ng-container>

    <ng-container uiTableColumn="cpf">
        <th *uiTableHeaderCell> CPF </th>
        <td class="cpf" *uiTableCell="let item;"> {{ item?.cpf }} </td>
    </ng-container>

    <tr *uiTableRow></tr>

    <span 
        *uiTableSortControl="let direction = direction; let triggerSortToggle = triggerSortToggle" class="sort-control"
        (click)="triggerSortToggle()"
    >
        <i class="bi bi-chevron-expand" [ngClass]="{
            'bi-chevron-expand': direction === null,
            'bi-chevron-up': direction === 'ASC',
            'bi-chevron-down': direction === 'DESC'
        }"></i>
    </span>

    <tbody *uiTableLoading>
        <tr>
            <td>
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </td>
        </tr>
    </tbody>

    

</table>