

<div class="header">

    <input type="text" placeholder="Filtrar" [formControl]="textFilterFormControl" />
    
    <div class="spacer"></div>

    <button class="share" (click)="share.emit()"> Share </button>

    <div class="filter-wrapper">
        <button *ngIf="filterTemplate" (click)="toggleFilter()" class="filtros"> Filtros </button>
        <div class="filter-dropdown" [ngClass]="{ visible: showFilter }">
            <ng-container #filterOutlet></ng-container>
        </div>
    </div>

</div>

<table 
    uiStyledTable
    uiDataTable 
    [columnTemplates]="columns?.toArray()"
    [loadingTemplate]="loadingTemplate"
    [rowTemplate]="rowTemplate"
    [stateManager]="stateManager"
>

    <tr *uiTableRow></tr>

    <span 
        *uiTableSortControl="let direction = direction; let triggerSortToggle = triggerSortToggle" class="sort-control"
        (click)="triggerSortToggle()"
    >
        <i class="bi bi-chevron-expand" [ngClass]="{
            'bi-chevron-expand': direction === null,
            'bi-chevron-up': direction === 'ASC',
            'bi-chevron-down': direction === 'DESC'
        }"></i>
    </span>

    <tbody *uiTableLoading>
        <tr>
            <td>
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </td>
        </tr>
    </tbody>

</table>

<div class="footer">

    <div class="control"> Monstrando {{ stateManager.state.data?.length }} de {{ stateManager.state.totalItems }} </div>

    <form [formGroup]="pageControlFormGroup">

        <select class="control" name="page-size" formControlName='pageSize'>
            <option value="5"> 5 items </option>
            <option value="10"> 10 items </option>
            <option value="20"> 20 items </option>
        </select>
    
        <select class="control" name="page-size" formControlName="currentPage">
            <option value="{{ index + 1 }}" *ngFor="let item of Array(stateManager.getTotalPages()); let index = index;">
                Página {{ index + 1 }} 
            </option>
        </select>

    </form>

</div>


