
ui-specialized-data-table {

    table {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: calc(100% - 30px);
        margin: 15px;
      
        td {
          padding: 10px;
        }
      
        th {
          border-bottom: 1px solid #808080;
          border-top: 1px solid grey;
          padding: 10px 10px;
        }
      
        tbody tr {
      
          background-color: #ffffff;
      
          &.dark {
            background-color: #f8f8f8;
          }
      
          &:hover {
            background-color: #f0f0f0;
          }
      
        }
        
        .sort-control {
          cursor: pointer;
        }
      }
    
    .header {
        margin: 15px;
        display: flex;
    
        .share { margin: 0px 15px; }
    
        .spacer {
            flex-grow: 1;
        }

        .filtro-texto {
            max-width: 300px;
        }
    }
    
    .filter-wrapper {
        position: relative;
    
        .filter-dropdown {
            position: absolute;
            background-color: #f8f8f8;
            border: 1px solid #dadada;
            border-radius: 2px;
            width: 300px;
            padding: 15px;
            display: none;
            right: 0px;
            top: 39px;
    
            &.visible {
                display: block;
            }
        }
    
    }
    
    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 15px;
    
        .control {
            width: 160px;
            margin-left: 15px;
        }
    }
}


