

.my-game {
    padding: 30px;
    background-color: lightblue;
    border: 1px solid lightyellow;
    display: flex;
}

.square {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 18px;
    }

    &.blue {
        background-color: rgb(94, 94, 255);
    }

    &.red {
        background-color: rgb(255, 84, 84);
    }

    &.green {
        background-color: rgb(97, 255, 97);
    }

    &.grey {
        background-color: rgb(108, 108, 108);
    }
}