<div class="my-game" uiSquareGame>

    <div class="square blue" *uiSquare="'blue'">
        <h1> Blue Square </h1>
        <button (click)="game.patchPoints('blue', 2)"> +2 for blue </button>
    </div>

    <div class="square red" *uiSquare="'red'">
        <h1> Red Square </h1>
        <button (click)="game.patchPoints('red', 1)"> +1 for red </button>
    </div>

    <ng-container *ngIf="show">
        <div class="square green" *uiSquare="'green'">
            <h1> Green Square </h1>
            <button (click)="game.patchPoints('green', 1)"> +1 for green </button>
        </div>
    </ng-container>

    <div class="square grey" *uiSquare="'grey'">
        <h1> Grey Square </h1>
        <button (click)="game.patchPoints('grey', 1)"> +1 for green </button>
    </div>

    <div class="square">
        <h1> Score </h1>
        <div *ngFor="let type of gameTypes">
            {{ type }} : <span> {{ game.points[type] }} </span>
        </div>
    </div>

</div>

