

<header>
    <div class="menu-item"> <a [routerLink]="'/templates'"> Templates </a> </div>
    <div class="menu-item"> <a [routerLink]="'/manual-data-table'"> Manual Style Data Table </a> </div>
    <div class="menu-item"> <a [routerLink]="'/styled-html-table'"> Styled Html Table </a> </div>
    <div class="menu-item"> <a [routerLink]="'/unstyled-data-table'"> Unstyled Data Table </a> </div>
    <div class="menu-item"> <a [routerLink]="'/styled-data-table'"> Styled Data Table </a> </div>
    <div class="menu-item"> <a [routerLink]="'/specialized-table-component'"> Specialized Table Component </a> </div>
</header>

<router-outlet></router-outlet>

<ng-template abc>
    <span abc> Hi There </span>
</ng-template>