<!-- <ui-pure-table></ui-pure-table>

<ui-ui-squares></ui-ui-squares> -->

<ui-data-table 
    [data]="tableData"
    [loading]="tableLoading"
    (share)="share()"
    (filterUpdate)="filterUpdate($event)"
>

    <ng-container uiTableColumn="nome">
        <th *uiTableHeaderCell> Nome </th>
        <td *uiTableCell="let item;"> {{ item.nome }} </td>
    </ng-container>

    <ng-container uiTableColumn="idade">
        <th *uiTableHeaderCell> Idade </th>
        <td class="image" *uiTableCell="let item;"> 
            {{ item?.idade }}
        </td>
    </ng-container>

    <ng-container uiTableColumn="cpf">
        <th *uiTableHeaderCell> CPF </th>
        <td *uiTableCell="let item;"> {{ item?.cpf }} </td>
    </ng-container>

    <tr *uiTableRow></tr>

    <tbody *uiTableLoading>
        <tr>
            <td> Loading... :D </td>
        </tr>
    </tbody>

    <div *uiDataTableFilter>
        <select [formControl]="tipoPessoaFc">
            <option value="fisica"> Pessoa Física </option>
            <option value="juridica"> Pessoa Jurídica </option>
            <option value="ambos"> Ambos </option>
        </select>
    </div>

</ui-data-table>
