

header {
    background-color: black;
    color: white;
    display: flex;

    .menu-item {
        padding: 30px 30px;

        a {
            color: #eee4ff;
            text-decoration: none;
            font-size: 14px;
        }
    }


}