
:host {
  display: block;
  padding: 45px;
}


table {
  width: 100%;
  
  th {
    text-align: left;
    border-bottom: 1px solid #333;
    padding: 5px 0px;
  }
  
  td {
    padding: 5px 0px;
  }

}

.block {
  margin-bottom: 60px;
}
  
button.bold {
  font-weight: bold;
}

.footer-controls {
  display: flex;
  justify-content: space-between;
}