
:host {
    display: block;
    width: 300px;
    height: 200px;
    background-color: rgb(216, 230, 235);
    margin: 10px;
    padding: 10px;
    border: 1px dashed darkblue;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.content {
    margin: 10px 0px;
}
.spacer {
    flex-grow: 1;
}

.actions {
    display: flex;
    button {
        margin: 0px 5px;
    }
}