
:host {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 1px solid darkgrey;
    overflow: hidden;
}

img {
    width: 100%;
}